/* ============================ DISCOVERY ============================ */

#catalog-products {
  width: 95%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
}

.product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.discovery--product {
  display: grid;
  justify-items: center;
  align-items: center;
}

.discovery--product--img {
  width: 50%;
}
