@media (max-width: 992px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 100px;
    position: fixed;
    width: 100%;
  }

  .navbar {
    justify-content: flex-end;
    gap: 5px;
  }
  .navbar--list {
    background: black;
    display: flex;
    position: absolute;
    flex-direction: row;
    top: 100px;
    width: 90%;
    left: 5%;
    right: 5%;
    border: 2px solid crimson;
    border-top: 0;
    flex-direction: column;
    border-radius: 0px 0px 15px 15px;
    padding: 45px 30px;
    transform: translateX(-200%);
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    -ms-transform: translateX(-200%);
    -o-transform: translateX(-200%);
    z-index: 2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-border-radius: 0px 0px 15px 15px;
    -moz-border-radius: 0px 0px 15px 15px;
    -ms-border-radius: 0px 0px 15px 15px;
    -o-border-radius: 0px 0px 15px 15px;
  }

  .menu-label {
    display: flex;
    background: black;
    cursor: pointer;
    order: 2;
  }

  .menu-label img {
    height: 32px;
    width: 32px;
  }

  #menu-toggle:checked + .navbar--list {
    display: flex;
  }

  #menu-toggle:checked + .navbar--list {
    display: flex;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .contact--info {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 847px) {
  .info-cards-container {
    flex-direction: column;
  }

  .buy--image img {
    width: 400px;
  }

  .header--buscador {
    width: 350px;
  }
}

@media (max-width: 550px) {
  .header--buscador {
    display: none;
  }
}

@media (max-width: 452px) {
  .header--buscador {
    display: none;
  }

  .catalog-product-container {
    display: block;
  }

  .buy--image img {
    width: 300px;
  }
}

/* @media (max-width: 576px) {
  .header--buscador {
    display: none;
  }
} */
