@media (max-width: 992px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 100px;
    position: fixed;
    width: 100%;
  }

  .navbar {
    justify-content: flex-end;
    gap: 5px;
  }
  .navbar--list {
    position: absolute;
    background: black;
    display: none;
    flex-direction: row;
    top: 100px;
    width: 90%;
    left: 5%;
    right: 5%;
    border: 2px solid crimson;
    border-top: 0;
    flex-direction: column;
    border-radius: 0px 0px 15px 15px;
    padding: 45px 30px;
    z-index: 2;
  }

  .menu-label {
    display: flex;
    background: black;
    cursor: pointer;
    order: 2;
  }

  .menu-label img {
    height: 32px;
    width: 32px;
  }

  .open-menu {
    display: flex;
  }

  .cart--bubble {
    position: absolute;
    top: 32px;
    right: 90px;
  }

  .contact--info {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 847px) {
  .info-cards-container {
    flex-direction: column;
  }

  .header--buscador {
    width: 350px;
  }
}

@media (max-width: 719px) {
  
}

@media (max-width: 576px) {
  .hero--title {
    width: 95%;
  }
}

@media (max-width: 550px) {
  .header--buscador {
    display: none;
  }
}

@media (max-width: 452px) {
  .header--buscador {
    display: none;
  }

  .portada-container {
    display: block;
  }
}


@media (max-width: 452px) {
.cart{
  min-width: 200px;
  max-width: 300px;
}

}