@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap");

/* Variables */
/* :root {
} */
/* Reinicio de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Flex", sans-serif;
  /* border: solid crimson 1px; */
}
/* ============================ HEADER ============================*/

header {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 0 50px;
  position: fixed;
  background: black;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.header--buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 400px;
}

.buscador--buscar {
  height: 45%;
  width: 45%;
}

.buscador--buscar {
  width: auto;
  height: 35px;
}

.buscador--input {
  width: 100%;
  height: 25px;
}

header img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
}

#cart-toggle,
#menu-toggle,
.menu-label {
  display: none;
}

#menu-toggle:checked + .navbar-list {
  transform: translateX(0);
  display: flex;
}

.navbar--list {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  gap: 20px;
}

.navbar--list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.login--button {
  width: 100%;
  background-color: #efefef;
  color: black;
  font-weight: 800;
  padding: 5px;
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
  cursor: pointer;
}

.cart-label {
  display: flex;
  justify-content: flex-end;
  width: 60px;
  gap: 20px;
}

.cart-label img {
  width: 60px;
}

.menu-cart {
  cursor: pointer;
  width: 60px;
  height: 60px;
  color: white;
  margin-left: 30px;
}

.cart {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  background: #1c1c1c;
  top: 100px;
  padding: 50px 60px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  transform: translate(200%);
  transition: all 0.5s ease-in-out;
  z-index: 2;
  gap: 15px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.cart-container {
  display: flex;
  flex-direction: column;
}

#cart-toggle:checked + .cart {
  display: flex;
  transform: translate(0);
}

.cart-item img {
  width: 60px;
}

.cart-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #efefef;
  width: 100%;
  padding: 5px;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  gap: 15px;
}

.item-info {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}

.item-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}

.down,
.up {
  padding: 5px;
  border-radius: 0.1rem;
  -webkit-border-radius: 0.1rem;
  -moz-border-radius: 0.1rem;
  -ms-border-radius: 0.1rem;
  -o-border-radius: 0.1rem;
  border: 1px solid #efefef;
}

.cart--buy-section {
  border-top: 3px solid crimson;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
}

.divider {
  margin-top: 50px;
  border: 0.5px solid var(--electric);
}

/* ============================ MAIN ============================*/

main {
  background: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  gap: 30px;
}

/* ============================ HERO ============================*/

#hero {
  display: flex;
  background: rgb(155, 160, 91);
  background: linear-gradient(
    35deg,
    rgba(155, 160, 91, 1) 20%,
    rgba(187, 190, 46, 1) 37%,
    rgba(243, 247, 0, 1) 58%,
    rgba(123, 125, 38, 1) 76%
  );
  width: 100%;
  height: 500px;
  align-items: center;
  justify-content: center;
}

.trend-product {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.trend-product--move {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.trend-product--move-btns {
  display: flex;
  width: 50px;
  background-color: black;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 5px;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  cursor: pointer;
}

.trend-product--buy {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.buy--image {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.buy--image img {
  width: 600px;
}

.buy--btn {
  justify-content: center;
  align-items: center;
  width: 50%;
  display: flex;
}

/* ============================ INFO ============================ */

#info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background: rgb(91, 91, 91);
  background: linear-gradient(
    336deg,
    rgba(91, 91, 91, 1) 24%,
    rgba(180, 180, 178, 1) 90%
  );
  gap: 10px;
}

.info-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* ============================ Contacto ============================ */

#contact {
  width: 100%;
  height: 600px;
  background: #1c1c1c;
}

.contact--info {
  background: #1c1c1c;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* .info--iframe {
  height: 100%;
  padding: 10px;
} */

.info--iframe iframe {
  width: 100%;
  padding: 20px;
}

.info--number {
  color: white;
}

.info--number {
  color: white;
}

.info--help {
  color: white;
}

.info--social-media {
  color: white;
}

.social-media-facebook img {
  width: 40px;
  height: 40px;
}

.social-media-instagram img {
  width: 50px;
  height: 50px;
}

.info--social-media--list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
