@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap");

/* Variables */
/* :root {
} */
/* Reinicio de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto Flex", sans-serif;
}
/* ============================ HEADER ============================*/

header {
  display: flex;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  position: fixed;
  z-index: 2;
  background: black;
  align-items: center;
  justify-content: space-between;
}

.header--buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.buscador--buscar {
  height: 45%;
  width: 45%;
}

.header--buscador > input {
  height: 45%;
}

header img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 99px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  color: #fff;
}

#menu-toggle,
.menu-label {
  display: none;
}

.navbar--list {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.carrito {
  cursor: pointer;
  width: 79px;
  height: 79px;
  color: white;
}
